@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Georgia, Helvetica, sans-serif;
}

@font-face {
  font-family: 'Qalogre';
  src: url('../public/fonts/Qalogre.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Nozen';
  src: url('../public/fonts/NOZEN.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Amoria';
  src: url('../public/fonts/AMORIA.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Medway';
  src: url('../public/fonts/Medway.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
